@using System.Globalization
@using System.Security.Policy
@using System.Web.Providers.Entities
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Events_Tenant.Common.Models
@using Events_Tenant.Common.Utilities
@using Events_TenantUserApp
@using Microsoft.AspNetCore.Hosting.Internal
@using Microsoft.AspNetCore.Http
﻿@inject IViewLocalizer Localizer

@{

    TenantConfig tenantConfig = Context.Session.GetObjectFromJson<List<TenantConfig>>("TenantConfigs").First();
    var blobpath = tenantConfig.BlobImagePath;
}

<div class="row">
    <div class="col-xs-12 ">
        <div class="banner">
            <div class="row cover-2">
                <img src=@blobpath class="img-responsive" style="width: 100%">
            </div>
            <div class="banner-home-left">
                <div class="banner-caption">
                    <span class="banner-splitter">@Localizer["Next"]</span> @Model.EventName
                </div>
            </div>
            <div class="banner-home-right">
                <a href="@Url.Action("FindSeats", "FindSeats", new { eventId = @Model.EventId })">@Localizer["Tickets"]<span class="pull-right">></span></a>
            </div>
        </div>
    </div>
</div>
